.about h1{
    font-weight: 500;
    color: rgb(0,0,0);
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 30px;
}
.about{
    padding: 50px 0;
}
.about_box{
    background-color: #F8F8F8;
    border-radius: 10px;
    padding: 50px 20px;
    margin-bottom: 30px;
}
.about_box h2{
    font-weight: 500;
    color: rgb(12,77,222);
    font-size: 18px;
    line-height: 24px;
}
.about_box p{
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
    line-height: 24px;
}
.about_text p{
    font-weight: 400;
    color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
    line-height: 24px;
}