.wish_full_heading {
    border-top: 1px solid #e7edf4;
    border-bottom: 1px solid #e7edf4;
    padding: 25px 10px;
    background-color: #FBFBFD;
}

.wish_full_heading h1 {
    font-weight: 500;
    color: rgb(0, 0, 0);
    font-size: 24px;
    line-height: 29px;
}
/*  */

.wish_full {
    padding: 20px 60px;
}

.wish_full th {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
}

.wish_full thead {
    border-color: white;
}

.wish_full thead tr th {
    padding-bottom: 25px;
}

.wish_full_name {
    font-weight: 500;
    font-size: 14px !important;
    line-height: 20px;
    color: #000;
    text-decoration: none;
    margin-left: 5px;
}

.wish_full_premium {
    color: #00d153;
    border: 1px solid currentColor;
    border-radius: 4px;
    font-weight: 500;
    font-size: .5rem;
    line-height: 1rem;
    padding: 0.1rem 0.2rem;
    text-transform: uppercase;
    margin-left: 1rem;
    pointer-events: none;
}

.wish_full_new {
    color: #ff8686;
    border: 1px solid currentColor;
    border-radius: 4px;
    font-weight: 500;
    font-size: .5rem;
    line-height: 1rem;
    padding: 0.1rem 0.2rem;
    text-transform: uppercase;
    margin-left: 1rem;
    pointer-events: none;
}

.advertisement-section table .heart-svg path {
    cursor: pointer;
    transition: fill .3s ease;
}

.wish_full table .heart-svg:hover path {
    fill: #ff8686;
    stroke: none;
    cursor: pointer;
}

.wish_full table img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.wish_full_company span{
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: #6f757e;
}
.wish_full_date span{
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #6f757e;
}
.wish_full .table-hover tbody td, .table-hover tbody th{
    transition: 1s all;
}
.wish_full .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #FBFCFC;
    transition: .3s all;
    cursor: pointer;
  }